fastapi
uvicorn
python-dotenv
langchain
pydantic
langchain
langchain-openai
langchain-community
langgraph
langgraph-sdk
openai
typing-extensions

# For Black (Python linter)
pre-commit==2.20.0
black==25.1.0
